@font-face { font-family: URWDINArabic-Bold; src: url('../font/URWDINArabic-Bold.TTF'); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.container {
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    overflow: hidden;
}

