* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  font-family: 'Roboto', arial;
}
.container {
  width: 100%;
  margin: auto;
}

/* Jonas Engström */  
  .text-align-center {
    text-align: center;
  }


  /* START CAROUSEL */
  .swiper-button-next {
    padding-right: 3rem;
  }
  .swiper-button-prev {
    margin-left: 3rem;
  }
  .swiper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .swiper-slide img {
    height: 350px;
  }
  /* CAROUSEL END */



  /* START APPLICATION-SCREENS */
  .app-screen {
    margin: 4rem 0 3rem 0;
  }
  .app-h2 {
    font-size: 1.5rem;
    color: #333;
  }
  .app-p {
    color: #8A8A8A;
    font-size: .8rem;
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .p-bigger {
    display: none;
  }
  .p-smaller {
    width: 450px;
  }
  /* APPLICATION-SCREENS END */


  /* START APPLICATION-STATISTICS */
  .statistics {
    margin-bottom: 5rem;
  }
  .bg-image {
    background-image: url('/img/Layer\ 815.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
  }
  .statistics-numbers {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    row-gap: 2rem;
    column-gap: 1.5rem;
  }
  .statistics-numbers h3 {
    font-size: 1.4rem;
    color: #3096FE;
  }
  .statistics-numbers p {
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 500;
  }
  /* APPLICATION-STATISTICS END */
  

  


  @media (max-width: 600px) {
    .container {
      max-width: 580px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 80%;
    }
    .p-bigger {
      display: block;
      margin-top: 1rem;
      width: 450px;
    }
    .p-smaller {
      display: none;
    }
    .statistics-numbers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;    
    }
    .bg-image {
      padding: 1.5rem;
      background-size: contain;
      padding-bottom: 2rem;
      width: 100%;
    }
    .swiper-slide img {
      height: 400px;
      display: block;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      width: 80%;
      max-width: 992px;
    }
    .statistics-numbers {
      max-width: 800px;
      margin: auto;
    }
    .statistics-numbers h3 {
      font-size: 1.8rem;
    }
    .statistics-numbers p {
      font-size: 1rem;
    }
    .app-h2 {
      font-size: 1.8rem;
    }
  }
  