/* @font-face { font-family: URWDINArabic-Bold; src: url('../font/URWDINArabic-Bold.TTF'); } */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.container {
    width: 100%;
    margin: 0 auto;
}
.bg-image img {
    width: 180%;
    height: 100vh;
    top: -150px;
    right: 40px;
    position: relative;
}
.background {
    overflow: hidden;  
}
 
.top-nav .container {
   position: absolute;
   top: 0;
   display: flex;
   justify-content: space-evenly;
}
.container .logo {
    width: 100px;
    margin-top: .7rem;
}

.navbar-toggler {
    color: #FFBB00;
    font-size: 1.9rem;
    margin-top: 1.05rem;
    
}
.btn-header {
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: .8rem;
    padding: .55rem 1.5rem;
    margin-top: 1rem;
    background-color: #FFBB00;
    color: #fff;
}




/* MEDIA QUERY */
@media (min-width: 450px){
    .bg-image img {
        width: 150%;
        top: -290px;
        right: 40px;
        
    } 
}
@media (min-width:600px){
    .bg-image img {
        width: 130%;
        top: -320px;
        right: 45px;
    }
}
@media (min-width: 768px) {
   .bg-image img {
       width: 110%;
       top: -340px;
       right: 25px;
   }
}
@media (min-width: 1024px) {
    .container {
        width: 80%;
    }
    .bg-image img {
        width: 110%;
        top: -420px;
        right: 70px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 80%;
    }
    .bg-image img {
        width: 110%;
        top: -640px;
        right: 80px;
    }
}