*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.download {
    height: 20em;
    width: 100%;
    background: url(./Bilder/Bg.png);
}
.container-download {
    display:flex;
    justify-content: right;
    text-align: center;
    color: white;
    align-items: center;
    margin-left: auto;
}
.container-download h1 {
    font-size: 2rem;
}